<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048250110263-9elku1cvhvo7ieh5ghgtrb53m06cr8r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048250110263-9elku1cvhvo7ieh5ghgtrb53m06cr8r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048250110263-4j3aptmti995o20f7al29sa5ebiludh4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAJCj9LLkDv_dauplEsNo0qyUN3eMH4lk</string>
	<key>GCM_SENDER_ID</key>
	<string>1048250110263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aq.aura.app</string>
	<key>PROJECT_ID</key>
	<string>aura-aq-d5c0a</string>
	<key>STORAGE_BUCKET</key>
	<string>aura-aq-d5c0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048250110263:ios:0459e4aaffa5bb816bcab2</string>
</dict>
</plist>